<h2>Catalogo dei prodotti:</h2>
<div class="grid">
  <div *ngFor="let product of productList" class="card-wrapper" [ngClass]="showAsGrid ? 'col-4' : 'col-12'">
    <p-card [header]="product.data.title" [subheader]="'Categoria: ' + product.data.category">
      <p>{{ product.data.description }}</p>
      <p>Cucinato da: {{ product.data.employee }}.</p>
      <span *ngIf="isCurrencyCorrectlyFormatted(product.data.price)">Prezzo: {{ product.data.price | currency : "EUR" }}</span>
      <ng-template pTemplate="footer">
        <p-button label="Recensioni" icon="pi pi-star" (click)="handleShowProductReviewsClick(product)"></p-button>
        <p-button
          label="Elimina Prodotto"
          icon="pi pi-trash"
          (click)="handleDeleteProductClick(product)"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>

<!-- Dialog Elimina Prodotto -->
<p-dialog
  header="Elimina Prodotto"
  showEffect="fade"
  [style]="{ width: '450px' }"
  [breakpoints]="{ '2400px': '40vw', '1280px': '60vw', '960px': '90vw' }"
  [(visible)]="showDeleteProductDialog"
  [modal]="true"
  [closable]="true"
  (onHide)="showDeleteProductDialog = false">
  Sei sicuro di voler procedere con la cancellazione del prodotto "{{ currentProduct.data.title }}"?

  <ng-template pTemplate="footer">
    <div class="button-wrapper">
      <button pButton pRipple icon="pi pi-trash" class="p-button-outlined" label="Elimina" (click)="deleteProduct()"></button>
    </div>
    <div class="button-wrapper">
      <button pButton pRipple icon="pi pi-times" class="p-button-outlined" label="Annulla" (click)="showDeleteProductDialog = false"></button>
    </div>
  </ng-template>
</p-dialog>

<!-- Dialog Recensioni Prodotto -->
<p-dialog
  header="Recensioni Prodotto"
  showEffect="fade"
  [style]="{ width: '450px' }"
  [breakpoints]="{ '2400px': '40vw', '1280px': '50vw', '960px': '90vw' }"
  [(visible)]="showProductReviewsDialog"
  [modal]="true"
  [closable]="true"
  (onHide)="showProductReviewsDialog = false">
  <ng-container *ngIf="currentProduct.data.reviews && currentProduct.data.reviews.length > 0; else noReviews">
    <p class="reviews-number-text">Ci sono {{ currentProduct.data.reviews.length }} recensioni per il prodotto "{{ currentProduct.data.title }}":</p>
    <p-carousel [value]="currentProduct.data.reviews" [numVisible]="1" [numScroll]="1">
      <ng-template let-review pTemplate="item">
        <p>“{{ review }}”</p>
      </ng-template>
    </p-carousel>
  </ng-container>
  <ng-template #noReviews> Nessuna recensione per il prodotto "{{ currentProduct.data.title }}". </ng-template>

  <ng-template pTemplate="footer">
    <div class="button-wrapper">
      <button pButton pRipple icon="pi pi-times" class="p-button-outlined" label="Chiudi" (click)="showProductReviewsDialog = false"></button>
    </div>
  </ng-template>
</p-dialog>
