.card-wrapper {
  margin-bottom: 2em;
}

.reviews-number-text {
  margin: 1em 0;
}

@media screen and (max-width: 769px) {
  :host ::ng-deep .card-wrapper {
    .p-card-footer {
      .p-button {
        width: 100%;
        margin-left: 0 !important;
        margin-top: 0.5em;
      }
    }
  }
}

.fixed-height-description {
  max-height: 100px;
  min-height: 100px;
  overflow-y: auto;
  border: 1px solid darkgrey;
  border-radius: 5px;
  background-color: aliceblue;
  padding: 0 5px;
}
