<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Logo" src="../assets/candy.png" />
  <span class="store-name">{{ storeName }}</span>
  <div class="topbar-button-wrapper">
    <p-button label="Nuovo Prodotto" icon="pi pi-plus" class="p-button-raised" (click)="openAddProductDialog()"></p-button>
  </div>
</div>

<p-toast position="bottom-right" [baseZIndex]="10">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message-text">
      <div class="p-toast-summary">{{ message.summary }}</div>
      <div class="p-toast-detail" [innerHtml]="message.detail"></div>
    </div>
  </ng-template>
</p-toast>

<app-spinner *ngIf="loading"></app-spinner>

<div class="layout-main-container" role="main">
  <div class="layout-main">
    <app-dashboard></app-dashboard>
  </div>
</div>

<app-add-product-modal [visible]="showAddProductDialog" (visibleChange)="showAddProductDialog = $event" [employees]="employees"></app-add-product-modal>
