<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Logo" src="../assets/candy.png" pTooltip="Cambia visualizzazione" />
  <span class="store-name" pTooltip="Cambia visualizzazione">{{ storeName }}</span>
</div>

<p-toast position="bottom-right" [baseZIndex]="10">
  <ng-template let-message pTemplate="message">
    <div class="p-toast-message-text">
      <div class="p-toast-summary">{{ message.summary }}</div>
      <div class="p-toast-detail" [innerHtml]="message.detail"></div>
    </div>
  </ng-template>
</p-toast>

<app-spinner *ngIf="loading"></app-spinner>

<div class="layout-main-container" role="main">
  <div class="layout-main">
    <app-dashboard></app-dashboard>
  </div>
</div>

<app-add-product-modal [visible]="showAddProductDialog" (visibleChange)="showAddProductDialog = $event" [employees]="employees"></app-add-product-modal>

<p-button icon="pi pi-sync" (click)="openAddProductDialog()" class="switch-view-fixed-button"></p-button>
<p-button icon="pi pi-chart-pie" (click)="openAddProductDialog()" class="chart-fixed-button"></p-button>
<p-button icon="pi pi-plus" (click)="openAddProductDialog()" class="add-product-fixed-button"></p-button>
