<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Logo" src="../assets/candy.png" />
  <span class="store-name">{{ storeName }}</span>
  <div class="topbar-button-wrapper">
    <p-button label="Nuovo Prodotto" icon="pi pi-plus" class="p-button-raised" (click)="openAddProductDialog()"></p-button>
  </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div class="layout-main-container" role="main">
  <div class="layout-main">
    <app-dashboard></app-dashboard>
  </div>
</div>

<app-add-product-modal [visible]="showAddProductDialog" (visibleChange)="showAddProductDialog = $event"></app-add-product-modal>
