@import "primeicons/primeicons.css";

$fontSize: 10px;
$borderRadius: 12px;
$transitionDuration: 0.2s;

body {
  background-color: #e7e7e7;
}

.layout-main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6%;
  padding-top: 4rem;
  padding-bottom: 2rem;
  transition: margin-left $transitionDuration;
}

.layout-main {
  flex: 1 1 auto;
}

.p-card {
  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 6px;

  .p-card-title {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.25rem 1.25rem 0 1.25rem;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #1976d2;
    color: white;
  }

  .p-card-subtitle {
    font-weight: 400;
    text-align: right;
    font-style: italic;
    padding: 0 1.25rem 0.5rem 0;
    background-color: #1976d2;
    color: white;
  }

  .p-card-content {
    padding: 0 1.25rem;
  }

  .p-card-footer {
    padding: 1.25rem;
  }
}

.button-wrapper {
  display: inline-block;
}

.add-product-fixed-button {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.chart-fixed-button {
  position: fixed;
  bottom: 60px;
  right: 15px;
}

.switch-view-fixed-button {
  position: fixed;
  bottom: 105px;
  right: 15px;
}
